<!DOCTYPE html>
<html lang="en">
<!-- BOOM Visualization - Brandon Kates (bjk224) -->
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="css/styles.css">
	<title></title>
</head>
<body>
	<div class="content">
		<div class="forms">
			<form action="/">
    			<input type = "submit" value= "Check More Questions" />
			</form>
		</div>
		<div class="print_result">
			<h3> Question 1: {{q1}} </h3>
			<h3> Question 2: {{q2}} </h3>
		    <h3> Result: {{result}} </h3>
		</div> 
	</div>
</body>
</html>