<!DOCTYPE html>
<html lang="en">
<!-- BOOM Visualization - Brandon Kates (bjk224) -->
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="css/styles.css">
	<title></title>
</head>
<body>
	<div class="content">
		<div class="forms">
			<form method='POST', action="/classifier">
				<div class="form_field">
					<label> Question 1: </label>
					<input type="text" name="q1" maxLength ="1000">
				</div>
				<div class="form_field">
					<label> Question 2: </label>
					<input type="text" name="q2" maxLength ="1000">
				</div>
				<div class="form_field">
					<input id="submit" type="submit" name="Submit" value="Check if duplicates">
				</div>
			</form>
		</div>
	</div>
</body>
</html>